/* Include Tailwind's base styles */
@tailwind base;

/* Include Tailwind's component styles */
@tailwind components;

/* Include Tailwind's utility classes */
@tailwind utilities;

/* Define BriemHand Regular font */
@font-face {
    font-family: 'BriemHand';
    src: url('/fonts/BriemHand-Regular.woff2') format('woff2'),
        url('/fonts/BriemHand-Regular.woff') format('woff'),
        url('/fonts/BriemHand-Regular.ttf') format('truetype'),
        url('/fonts/BriemHand-Regular.otf') format('opentype');
    font-weight: normal;
    /* Regular weight */
    font-style: normal;
}

/* Define BriemHand Medium font */
@font-face {
    font-family: 'BriemHand';
    src: url('/fonts/BriemHand-Regular.woff2') format('woff2');
    font-weight: 500;
    /* Medium weight */
    font-style: normal;
}


/* Define Fira Sans Regular font */
@font-face {
    font-family: 'FiraSans';
    src: url('/fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Define Fira Sans Bold font */
@font-face {
    font-family: 'FiraSans';
    src: url('/fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Apply BriemHand Medium to h1 */
@layer base {

    /* For h1, set 64px as default and 56px for small screens (sm) */
    h1 {
        font-family: 'BriemHand', sans-serif;
        font-weight: bold;
        /* Medium weight */
        font-size: 64px;
        /* Default size for larger screens */
        line-height: 70px;
    }

    /* For h2, set 56px as default and 48px for small screens (sm) */
    h2 {
        font-family: 'BriemHand', sans-serif;
        font-weight: normal;
        /* Regular weight */
        font-size: 56px;
        /* Default size for larger screens */
    }

    /* Responsive adjustments for smaller screens */
    @media (max-width: 640px) {

        /* Small screens */
        h1 {
            font-size: 48px;
            /* Adjust to 56px on mobile */
        }

        h2 {
            font-size: 42px;
            /* Adjust to 48px on mobile */
        }
    }
}


/* Apply Fira Sans Regular to p and button */
p {

    font-family: 'FiraSans', sans-serif;
    font-size: 25px;
}

button {
    font-family: 'FiraSans', sans-serif;
    font-size: 25px;
    background-color: #CE2D4F;
    color: white;
    padding: 25px 30px;
    border-radius: 15px;
    /* margin: 25px; */
}